<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.taller_02">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Taller_02"
        tools:targetApi="31">
        <activity
            android:name=".CalculadoraSaludActivity"
            android:exported="false" />
        <activity
            android:name=".NuevaContrasenaActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".PefilActivity"
            android:exported="false" />
        <activity
            android:name=".RecuperacionActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" /> <!-- SplashActivity configurada como pantalla de inicio -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- MainActivity (se abre desde SplashActivity) -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>